# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
*.env
*.bak
*.tmp

# Ambiente virtual
venv/
ENV/
env/
.venv/

# IDEs e editores
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Arquivos do projeto
chroma_index
vetorizados.json